/* Main content here Kyusi Esports */
.esports-title {
    font-size: 2.5rem; 
    color: var(--text-color);
    text-align: center; 
    font-family: 'ZuumeEL';
}

.esports-text {
    font-size: 2.5rem; 
    font-family: 'ZuumeEL';
}

.red-e {
    color: var(--main-color);
    font-family: 'ZuumeEL';
}

.esport-item {
    margin-bottom: 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.esport-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #333;
}

.esport-item img {
    width: 850px; 
    height: auto;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 10px; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.esport-item:hover img {
    transform: scale(0.7);
    opacity: 0.9;
}

.esport-item p {
    font-size: 2.1rem;
    font-family: 'ZuumeEL';
    color: var(--text-color);
    flex: 1;
    transition: color 0.3s ease;
}

.esport-item:hover p {
    color: var(--main-color);
}

@media(max-width: 1244px) {
    .esport-item {
        padding-top: 5px;
        flex-direction: column;
        align-items: center;
        border: 1px solid #24262b;
        background-color: #24262b;
        border-radius: 10px;
    }

    .esport-item img {
        width: 80%; 
        max-width: 600px; 
        height: auto;
    }

    .esport-item p {
        font-size: 1.5rem;
    }
}

@media(max-width: 850px) {
    .esport-item p {
        font-size: 1.2rem; 
    }
}

@media(max-width: 680px) {
    .esport-item p {
        font-size: 1rem;
    }
}

@media(max-width: 450px) {
    .esport-item p {
        font-size: 0.8rem; 
    }
}

.container1 {
    background-color: rgba(203, 44, 44, 0.7);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  #textSize{
    font-size: 25px;
    line-height: 50px;
    letter-spacing: 0.009rem
  }
  .faq-section {
    margin-bottom: 20px; 
    padding: 15px;
    border: 1px solid #a11818; 
    border-radius: 15px; 
    background-color: #711818; 
  }
  .faqtext{
    letter-spacing: 0.05rem;
  }
  /*test*/